:root {
    --primary: beige;
    --secondary-0: rgb(183, 183, 17);
    --secondary-1: rgb(173, 173, 11);
    --white-0: white;
    --white-1: rgb(249, 249, 249);
}

input {
    display: block;
    border: none;
    outline: none;
    background-color: transparent;
    padding: 5%;
    margin-bottom: 2em;
    border-bottom: 3px solid var(--primary);
    border-top-left-radius: .3em;
    border-top-right-radius: .3em;
    transition: transform 0.5s cubic-bezier(.68,-0.55,.27,1.55), background 0.7s ease;
}

label {
    margin-top: 1.4em;
    margin-bottom: 2em;
}

input:focus-within {
    transform: translateY(.5em);
}

input:focus {
    background: var(--white-1);
}
input:hover {
    background: var(--white-1);
}
